<main>
    <section class="form-section">
        
        <img src="/assets/dean.jpg" height="100" alt="Dean">
        <h2>{{title}}</h2>

        <ng-content></ng-content>

        <div class="btn-wrapper">
            <button class="btn-primary">{{primaryBtnText}}</button>

            <div class="divider">
                <div></div>
                <span>OR</span>
                <div></div>
            </div>
    
            <button class="btn-secondary">{{secondaryBtnText}}</button>
        </div>

        
    </section>

    <section class="main-section">
        <h1>Bem vindo</h1>
        <img src="/assets/svg/img1.svg" alt="Dean">
    </section>
</main>
