<app-default-cadastro-layout
    title="Informe os dados do endereço novo!"
    primaryBtnText="Cadastrar"
    secondaryBtnText="Voltar"
    (submit)="submit()"
    (navigate)="navigate()"
    [disablePrimaryBtn]="!CadastroForm.valid">

    <form [formGroup]="CadastroForm">
        <!--INPUT NOME-->
        <app-primary-input
            formControlName="rua"
            inputName="rua"
            type="text"
            label="Rua"
            placeholder="Av. Castelo Branco ">

            <img src="/assets/svg/mail.svg" height="20px" alt>
        </app-primary-input>

        <!--INPUT NOME-->
        <app-primary-input
            formControlName="numero"
            inputName="numero"
            type="text"
            label="Número"
            placeholder="12 ">

            <img src="/assets/svg/mail.svg" height="20px" alt>
        </app-primary-input>

        <!--INPUT NOME-->
        <app-primary-input
            formControlName="bairro"
            inputName="bairro"
            type="text"
            label="bairro"
            placeholder="Belo Horizonte">

            <img src="/assets/svg/mail.svg" height="20px" alt>
        </app-primary-input>
       
        <!--INPUT NOME-->
        <app-primary-input
            formControlName="complemento"
            inputName="complemento"
            type="text"
            label="Complemento"
            placeholder="Proximo ao mercadinho">

            <img src="/assets/svg/mail.svg" height="20px" alt>
        </app-primary-input>

        <!--INPUT NOME-->
        <app-primary-input
            formControlName="cidade"
            inputName="cidade"
            type="text"
            label="Cidade"
            placeholder="Patos">

            <img src="/assets/svg/mail.svg" height="20px" alt>
        </app-primary-input>


          <!--INPUT NOME-->
          <app-primary-input
          formControlName="uf"
          inputName="uf"
          type="text"
          label="UF"
          placeholder="PB">

          <img src="/assets/svg/mail.svg" height="20px" alt>
      </app-primary-input>


      <!--INPUT NOME-->
      <app-primary-input
      formControlName="cep"
      inputName="cep"
      type="text"
      label="cep"
      placeholder="xxxxx-xxx">

      <img src="/assets/svg/mail.svg" height="20px" alt>
  </app-primary-input>

    </form>

</app-default-cadastro-layout>
